@font-face {
    font-family: 'Acumin';
    src: url('../fonts/AcuminVariableConcept.otf') format('opentype');
}

:root {
    --font-size: calc(6.5svh);
    --margin-top: calc(1.5svh);
    --bs-primary-rgb: 223, 129, 179;
    --bs-body-font-family: 'Acumin', sans-serif !important;
    --bs-body-font-weight: 764 !important;
    --bs-body-line-height: 0 !important;
}

html {
    scroll-behavior: smooth;
    background-color: black !important;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    width: 100svw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: hidden !important;
}

main {
    width: 100svw;
    height: 100svh;
    display: block;
    overflow: hidden !important;
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    z-index: 5;
    background-color: #df81b3;
    position: relative;
}

.content {
    width: 100lvw;
    height: 90svh;
    top: 0;
    left: 0;
    margin-top: 10svh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
    position: absolute;
    transition: transform 0.5s ease-in-out;
}

.content[data-active="false"] {
    transform: translateX(100lvw);
}

.content[data-active="almost"] {
    transform: translateX(-100lvw);
}

@media (max-width: 768px) {
    .carousel {
        width: 80%;
        height: auto;
    }

    .logo {
        width: 20svw !important;
    }

    :root {
        --logo-size: 20svw;
        --logo-animation-duration1: 4s;
        --logo-animation-duration2: 6.8s;
    }

    .gallery {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .carousel {
        width: 50%;
        height: auto;
    }

    .logo {
        width: 10svw !important;
    }

    :root {
        --logo-size: 10svw;
        --logo-animation-duration1: 8s;
        --logo-animation-duration2: 13.6s;
    }

    .gallery {
        width: 70%;
    }
}

@media (min-width: 992px) {
    .carousel {
        width: 40%;
        height: auto;
    }
}

@media (min-width: 1920px) {
    .carousel {
        width: 30%;
        height: auto;
    }
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
    background: none !important;
}

.carousel-inner {
    display: flex !important;
    align-items: center !important;
    background: none !important;
}

.carousel-item img{
    object-fit: contain !important;
}

.header {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: black;
    overflow: hidden !important;
}

.header h1 {
    color: #df81b3;
    font-size: var(--font-size) !important;
    margin-top: var(--margin-top) !important;
    margin-bottom: auto;
    padding: 0;
    text-wrap: nowrap;
    display: inline-block;
    font-family: 'Acumin', sans-serif;
    font-weight: 764;
    max-height: 10svh;
    height: fit-content;
    user-select: none;
    animation: textRightToLeft 10s linear infinite;
    -webkit-animation: textRightToLeft 10s linear infinite;
    -moz-animation: textRightToLeft 10s linear infinite;
    -o-animation: textRightToLeft 10s linear infinite;
}

@-o-keyframes textRightToLeft {
    from {
        -o-transform: translateX(100vw);
    }
    to {
        -o-transform: translateX(-100%);
    }
}

@-moz-keyframes textRightToLeft {
    from {
        -moz-transform: translateX(100vw);
    }
    to {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes textRightToLeft {
    from {
        -webkit-transform: translateX(100vw);
    }
    to {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes textRightToLeft {
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(-100%);
    }
}

.logo {
    display: block;
    height: auto !important;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 9998;
    fill: #df81b3;
    -webkit-animation: moveX var(--logo-animation-duration1) linear 0s infinite alternate, moveY var(--logo-animation-duration2) linear 0s infinite alternate;
    -moz-animation: moveX var(--logo-animation-duration1) linear 0s infinite alternate, moveY var(--logo-animation-duration2) linear 0s infinite alternate;
    -o-animation: moveX var(--logo-animation-duration1) linear 0s infinite alternate, moveY var(--logo-animation-duration2) linear 0s infinite alternate;
    animation: moveX var(--logo-animation-duration1) linear 0s infinite alternate, moveY var(--logo-animation-duration2) linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
    from { left: 0; } to { left: calc(100svw - var(--logo-size)); }
}
@-moz-keyframes moveX {
    from { left: 0; } to { left: calc(100svw - var(--logo-size)); }
}
@-o-keyframes moveX {
    from { left: 0; } to { left: calc(100svw - var(--logo-size)); }
}
@keyframes moveX {
    from { left: 0; } to { left: calc(100svw - var(--logo-size)); }
}

@-webkit-keyframes moveY {
    from { top: 0; } to { top: calc(100svh - var(--logo-size)); }
}
@-moz-keyframes moveY {
    from { top: 0; } to { top: calc(100svh - var(--logo-size)); }
}
@-o-keyframes moveY {
    from { top: 0; } to { top: calc(100svh - var(--logo-size)); }
}
@keyframes moveY {
    from { top: 0; } to { top: calc(100svh - var(--logo-size)); }
}

.nav-toggle {
    height: 6.5svh;
    width: 6.5svh;
    position: fixed;
    z-index: 9999;
    left: 50%;
    bottom: 2svh;
    transform: translateX(-50%);
    background-color: black;
    border-radius: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: transform, background-color;
    transition-timing-function: ease;
    transition-duration: 0.4s;
}

.nav-toggle:hover {
    transform: translateX(-50%) scale(1.1);
}

.nav-toggle:active {
    transform: translateX(-50%) scale(0.95);
}

.bg {
    height: 6.5svh;
    width: 6.5svh;
    position: fixed;
    z-index: 9998;
    left: 50%;
    bottom: 2svh;
    transform: translateX(-50%);
    background-color: black;
    border-radius: 100%;
    transition: transform, background-color;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    animation: pulse 1.5s ease infinite;
    animation-delay: 2s;
}

@keyframes pulse {
    0% {
      transform: translateX(-50%) scale(1, 1);
    }
    50% {
      opacity: 0.3;
    }
    100% {
      transform: translateX(-50%) scale(1.5);
      opacity: 0;
    }
}  

.nav-toggle > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #df81b3;
    mix-blend-mode: difference;
    opacity: 0;
    transition: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-toggle > i > svg {
    width: 3svh;
    height: 3svh;
}


body:not([data-nav="true"]) > .nav-toggle:hover > .open {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

body[data-nav="true"] > .nav-toggle > .close {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

body[data-nav="true"] > .nav-toggle {
    background-color: #df81b3;
}

body[data-nav="true"] > .bg {
    background-color: #df81b3;
}

body[data-nav="true"] > main {
    transform: translateY(-30svh);
}

nav {
    height: 30svh;
    width: 100svw;
    position: absolute;
    z-index: 1;
    left: 0px;
    bottom: 0px;
    background-color: black;
    overflow: hidden !important;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: clamp(2rem, 3vw, 6rem);
    margin-top: 5vh;
    padding: 0rem clamp(1rem, 2vw, 2rem);
    transform: translateY(70%) scale(0.1);
    transition: transform, opacity;
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    transition-duration: 0.4s;
    opacity: 0;
}

.nav-links > .nav-link {
    text-decoration: none;
    transition: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
}

.nav-links > .nav-link:hover {
    transform: scale3d(1.2, 1.2, 1.2);
}

.nav-links > .nav-link > .nav-link-label {
    color: #df81b3;
    font-size: 3vh;
    margin: 0rem;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Acumin', sans-serif;
    font-weight: 764;
}

.nav-links > .nav-link > .nav-link-image {
    height: 10svh;
    aspect-ratio: 1/1;
    border-radius: 0.5rem;
    margin-top: 0.75rem;
    object-fit: cover;
}

body[data-nav="true"] > nav > .nav-links {
    transform: translateY(0%) scale(1);
    opacity: 1;
}

.gallery {
    height: 100%;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.gallery:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(transparent calc(85%), #df81b3);
    pointer-events: none;
}

.gallery::-webkit-scrollbar {
    display: none;
}

.gallery > .col > .gallery-item {
    border-radius: 1rem !important;
    padding: 1rem;
}

.gallery > .col > .gallery-item > img {
    border-radius: 1rem !important;
}

.gallery > .col > .gallery-item > video {
    border-radius: 1rem !important;
}

.toast-header > img {
    width: var(--bs-toast-font-size);
    height: var(--bs-toast-font-size);
}

.toast {
    z-index: 9999 !important;
    --bs-toast-font-size: 1.5rem !important;
}

@media (max-width: 992px) {
    .toast {
        --bs-toast-max-width: 90% !important;
    }
}

@media (min-width: 992px) {
    .toast {
        --bs-toast-max-width: 40% !important;
    }
}

.toast-body {
    font-family: var(--bs-body-font-family) !important;
    font-weight: var(--bs-body-font-weight) !important;
    line-height: var(--bs-body-line-height) !important;
    --bs-toast-padding-x: 1.5rem !important;
}