@font-face {
    font-family: 'Acumin';
    src: url('../fonts/AcuminVariableConcept.otf') format('opentype');
}

body {
    width: 100svw;
    height: 100svh;
    background-color: #df81b3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: hidden !important;
}

.container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
}

:root {
    --font-size: calc(6.5svh);
    --margin-top: calc(1.5svh);
    --footerh1-size: 150svw;
    --headerh1-size: 150svw;
}

@media (max-width: 768px) {
    .carousel {
        width: 80%;
        height: auto;
    }

    .logo {
        width: 20svw !important;
    }

    :root {
        --logo-size: 20svw;
        --logo-animation-duration1: 4s;
        --logo-animation-duration2: 6.8s;
    }

}

@media (min-width: 768px) {
    .carousel {
        width: 50%;
        height: auto;
    }

    .logo {
        width: 10svw !important;
    }

    :root {
        --logo-size: 10svw;
        --logo-animation-duration1: 8s;
        --logo-animation-duration2: 13.6s;
    }
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
    background: none !important;
}

.carousel-inner {
    display: flex !important;
    align-items: center !important;
    background: none !important;
}

.carousel-item img{
    object-fit: contain !important;
}

.header {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden !important;
}

.footer {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden !important;
}

h1 {
    color: #df81b3;
    font-size: var(--font-size) !important;
    margin-top: var(--margin-top) !important;
    margin-bottom: auto;
    padding: 0;
    text-wrap: nowrap;
    width: fit-content;
    font-family: 'Acumin', sans-serif;
    font-weight: 764;
    max-height: 10svh;
    height: fit-content;
    user-select: none;
}

.header h1 {
    animation: textScrollRTL 10s linear infinite;
}

.footer h1 {
    animation: textScrollLTR 10s linear infinite;
}

@keyframes textScrollRTL {
    0% {
        transform: translateX(calc(var(--headerh1-size)));
    }
    100% {
        transform: translateX(calc(-1 * (var(--headerh1-size))));
    }
}

@keyframes textScrollLTR {
    0% {
        transform: translateX(calc(-1 * var(--footerh1-size)));
    }
    100% {
        transform: translateX(calc(var(--footerh1-size)));
    }
}

.logo {
    display: block;
    height: auto !important;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 9999;
    fill: #df81b3;
    -webkit-animation: moveX var(--logo-animation-duration1) linear 0s infinite alternate, moveY var(--logo-animation-duration2) linear 0s infinite alternate;
    -moz-animation: moveX var(--logo-animation-duration1) linear 0s infinite alternate, moveY var(--logo-animation-duration2) linear 0s infinite alternate;
    -o-animation: moveX var(--logo-animation-duration1) linear 0s infinite alternate, moveY var(--logo-animation-duration2) linear 0s infinite alternate;
    animation: moveX var(--logo-animation-duration1) linear 0s infinite alternate, moveY var(--logo-animation-duration2) linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
    from { left: 0; } to { left: calc(100svw - var(--logo-size)); }
}
@-moz-keyframes moveX {
    from { left: 0; } to { left: calc(100svw - var(--logo-size)); }
}
@-o-keyframes moveX {
    from { left: 0; } to { left: calc(100svw - var(--logo-size)); }
}
@keyframes moveX {
    from { left: 0; } to { left: calc(100svw - var(--logo-size)); }
}

@-webkit-keyframes moveY {
    from { top: 0; } to { top: calc(100svh - var(--logo-size)); }
}
@-moz-keyframes moveY {
    from { top: 0; } to { top: calc(100svh - var(--logo-size)); }
}
@-o-keyframes moveY {
    from { top: 0; } to { top: calc(100svh - var(--logo-size)); }
}
@keyframes moveY {
    from { top: 0; } to { top: calc(100svh - var(--logo-size)); }
}
