.content {
	width: 100lvw;
	height: calc(81dvh - 7px);
	top: 0;
	left: 0;
	padding-top: calc(10dvh + 7px);
    padding-bottom: 9dvh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
	position: absolute;
	transition: transform 0.5s ease-in-out;
}

.content[data-active='false'] {
	transform: translateX(100lvw);
}

.content[data-active='almost'] {
	transform: translateX(-100lvw);
}

@media (max-width: 768px) {
	@media (orientation: portrait) {
		.carousel {
			width: 80%;
			height: auto;
		}
	}

	@media (orientation: landscape) {
		.carousel {
			width: 30%;
			height: auto;
		}
	}

	.logo {
		width: 20svw !important;
	}

	:root {
		--logo-size: 20svw;
		--logo-animation-duration1: 4s;
		--logo-animation-duration2: 6.8s;
		--bs-body-font-size: 0.65rem !important;
	}

	.gallery {
		width: 100%;
		grid-template-columns: repeat(auto-fill, minmax(90%, 1fr));
	}

	.nav-links {
		margin-top: clamp(2rem, 15dvh, 30rem) !important;
	}
}

@media (min-width: 768px) {
	@media (orientation: portrait) {
		.carousel {
			width: 45% !important;
			height: auto;
		}
	}

	@media (orientation: landscape) {
		.carousel {
			width: 25%;
			height: auto;
		}
	}

	.logo {
		width: 10svw !important;
	}

	:root {
		--logo-size: 10svw;
		--logo-animation-duration1: 8s;
		--logo-animation-duration2: 13.6s;
		--bs-body-font-size: 1.5rem !important;
	}

	.gallery {
		width: 70%;
		grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
	}

	.nav-links {
		margin-top: clamp(2rem, 15dvh, 30rem) !important;
	}
}

@media (min-width: 992px) {
	.carousel {
		width: 35% !important;
		height: auto;
	}
}

@media (min-width: 1920px) {
	.carousel {
		width: 30%;
		height: auto;
	}
}

@media (min-width: 2560px) {
	.carousel {
		width: 25%;
		height: auto;
	}
}

.carousel {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden !important;
	background: 0 0 !important;
	border-radius: 1rem !important;
    filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.25)) !important;
    max-height: 100%;
}

.carousel-track {
	display: flex !important;
	align-items: center !important;
	background: 0 0 !important;
	position: relative;
	width: 100%;
	transition: transform 0.5s ease-in-out;
	width: 100%;
}

.slide {
	position: relative;
	float: left;
	width: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: transform 0.6s ease-in-out;
	min-width: 100%;
	height: 100%;
	border-radius: 1rem !important;
}

.slide img {
	object-fit: contain !important;
	border-radius: 1rem !important;
	width: 100%;
	display: block;
}

.slide video {
	object-fit: contain !important;
	border-radius: 1rem !important;
	width: 100%;
	display: block;
}

.header {
	width: calc(100% - 10px);
	margin-left: auto;
	margin-right: auto;
	margin-top: 7px;
	height: 10%;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	background-color: black;
	overflow: hidden !important;
	border-radius: 50rem;
	position: relative;
	z-index: 1000;
}

.header h1 {
	color: #df81b3;
	font-size: var(--font-size) !important;
	margin-top: var(--margin-top) !important;
	margin-bottom: auto;
	padding: 0;
	text-wrap: nowrap;
	display: inline-block;
	font-family: 'Acumin', sans-serif;
	font-weight: 764;
	max-height: 10dvh;
	height: fit-content;
	user-select: none;
}

.logo {
	display: block;
	height: auto !important;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 9998;
	fill: #df81b3;
	-webkit-animation: moveX var(--logo-animation-duration1) linear 0s infinite
			alternate,
		moveY var(--logo-animation-duration2) linear 0s infinite alternate;
	-moz-animation: moveX var(--logo-animation-duration1) linear 0s infinite
			alternate,
		moveY var(--logo-animation-duration2) linear 0s infinite alternate;
	-o-animation: moveX var(--logo-animation-duration1) linear 0s infinite
			alternate,
		moveY var(--logo-animation-duration2) linear 0s infinite alternate;
	animation: moveX var(--logo-animation-duration1) linear 0s infinite alternate,
		moveY var(--logo-animation-duration2) linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
	from {
		left: 0;
	}
	to {
		left: calc(100% - var(--logo-size));
	}
}
@-moz-keyframes moveX {
	from {
		left: 0;
	}
	to {
		left: calc(100% - var(--logo-size));
	}
}
@-o-keyframes moveX {
	from {
		left: 0;
	}
	to {
		left: calc(100% - var(--logo-size));
	}
}
@keyframes moveX {
	from {
		left: 0;
	}
	to {
		left: calc(100% - var(--logo-size));
	}
}

@-webkit-keyframes moveY {
	from {
		top: 0;
	}
	to {
		top: calc(100% - var(--logo-size));
	}
}
@-moz-keyframes moveY {
	from {
		top: 0;
	}
	to {
		top: calc(100% - var(--logo-size));
	}
}
@-o-keyframes moveY {
	from {
		top: 0;
	}
	to {
		top: calc(100% - var(--logo-size));
	}
}
@keyframes moveY {
	from {
		top: 0;
	}
	to {
		top: calc(100% - var(--logo-size));
	}
}
button {
	appearance: button;
	-webkit-appearance: button;
}

button,
select {
	text-transform: none;
}

button,
input,
optgroup,
select,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
.nav-toggle {
	height: 6.5svh;
	width: 6.5svh;
	position: fixed;
	z-index: 9999;
	left: 50%;
	bottom: 2svh;
	transform: translateX(-50%);
	background-color: black;
	border-radius: 100%;
	border: none;
	outline: none;
	cursor: pointer;
	transition: transform, background-color;
	transition-timing-function: ease;
	transition-duration: 0.4s;
}

.nav-toggle:hover {
	transform: translateX(-50%) scale(1.1);
}

.nav-toggle:active {
	transform: translateX(-50%) scale(0.95);
}

.bg {
	height: 6.5svh;
	width: 6.5svh;
	position: fixed;
	z-index: 9998;
	left: 50%;
	bottom: 2svh;
	transform: translateX(-50%);
	background-color: black;
	border-radius: 100%;
	transition: transform, background-color;
	transition-timing-function: ease;
	transition-duration: 0.4s;
	animation: pulse 1.5s ease infinite;
	animation-delay: 2s;
}

@keyframes pulse {
	0% {
		transform: translateX(-50%) scale(1, 1);
	}
	50% {
		opacity: 0.3;
	}
	100% {
		transform: translateX(-50%) scale(1.5);
		opacity: 0;
	}
}

.nav-toggle > i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #df81b3;
	mix-blend-mode: difference;
	opacity: 0;
	transition: transform, opacity;
	transition-timing-function: ease;
	transition-duration: 0.4s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-toggle > i > svg {
	width: 3svh;
	height: 3svh;
}

body:not([data-nav='true']) > .nav-toggle:hover > .open {
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
}

body[data-nav='true'] > .nav-toggle > .close {
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
}

body[data-nav='true'] > .nav-toggle {
	background-color: #df81b3;
}

body[data-nav='true'] > .bg {
	background-color: #df81b3;
}

body[data-nav='true'] > main {
	transform: translateY(-50svh);
}

nav {
	height: 50svh;
	width: 100svw;
	position: absolute;
	z-index: 1;
	left: 0px;
	bottom: 0px;
	background-color: black;
	overflow: hidden !important;
	border-radius: 0;
	border-top-left-radius: 50rem;
	border-top-right-radius: 50rem;
}

.nav-links {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
	justify-items: center;
	align-items: center;
	gap: clamp(1rem, 2vw, 6rem);
	padding: 0rem clamp(1rem, 2vw, 2rem);
	transform: translateY(70%) scale(0.1);
	transition: transform, opacity;
	transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
	transition-duration: 0.4s;
	opacity: 0;
	overflow: hidden;
}

.nav-links > .nav-link {
	text-decoration: none;
	transition: transform, opacity;
	transition-timing-function: ease;
	transition-duration: 0.4s;
	padding: clamp(0.1rem, 2vh, 2rem);
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}

.nav-links > .nav-link:hover {
	transform: scale3d(1.2, 1.2, 1.2);
}

.nav-links > .nav-link > .nav-link-label {
	color: #df81b3;
	font-size: clamp(0.75rem, 2vw, 3rem);
	margin: 0rem;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Acumin', sans-serif;
	font-weight: 764;
}

.nav-links > .nav-link > .nav-link-image {
	max-width: clamp(1.5rem, 10svh, 8rem);
	aspect-ratio: 1/1;
	border-radius: 100%;
	margin-top: 0.75rem;
	object-fit: contain;
}

body[data-nav='true'] > nav > .nav-links {
	transform: translateY(0%) scale(1);
	opacity: 1;
}

.gallery {
	columns: 1;
    column-gap: 1rem;
    margin: 1rem 0.5rem 0.5rem 0.5rem;
    padding: 0;
    width: 100%;
    max-width: 1440px;

}

@media (min-width: 768px) {
    .gallery {
        columns: 2;
    }
}

@media (min-width: 1024px) {
    .gallery {
        columns: 3;
    }
}

.content:has(.gallery)::-webkit-scrollbar {
	display: none;
}

.content:has(.gallery) {
	scrollbar-width: none;
}

.content:has(.gallery) {
	-ms-overflow-style: none;
}

.gallery > .gallery-item {
	border-radius: 1rem !important;
    margin: 1rem 0;
}

.gallery > .gallery-item:first-child {
    margin: 0 0 1rem 0;
}

.gallery > .gallery-item > img,
.gallery > .gallery-item > video {
    border-radius: 1rem !important;
	width: 100%;
	height: auto;
	object-fit: cover;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25), 0 12px 24px rgba(0, 0, 0, 0.25);
}

/* CALENDARIO */

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	max-height: calc(100% - 1rem);
    max-width: 100%;
	padding-top: 1rem;
}


/* UTILITY */

.w-100 {
	width: 100% !important;
}

.w-50 {
	width: 50% !important;
}

.w-25 {
	width: 25% !important;
}

.w-10 {
	width: 10% !important;
}
